
{% if product.metafields.custom.product_upsell != blank %}
  <div class="drawer__upsell-container-mobile upsell-pdp">
    <div class="drawer__upsell-wrapper-mobile">
      <div class="drawer__upsell-inner">
        
        {%- if block.settings.upsell__heading != blank -%}
          <p class="swiper-custom-heading-upsell-pdp" style="margin-bottom: 16px; font-weight: 600;">
            {{ block.settings.upsell__heading }}
          </p>
        {%- endif -%}

        <div class="upsell-vertical-list" style="display: flex; flex-direction: column;">
          {% for item in product.metafields.custom.product_upsell.value %}
            <div class="upsell-list-item">
              {% render 'card-product-item',
                card_product: item,
                show_vendor: section.settings.show_vendor,
                media_aspect_ratio: section.settings.image_ratio,
                image_shape: section.settings.image_shape,
                lazy_load: false,
                placeholder_image: placeholder_image
              %}
            </div>
          {% endfor %}
        </div>

      </div>
    </div>
  </div>
{% endif %}